<!-- Footer -->
<footer class="footer-header-color w3-display-container ">

    <div class="w3-left w3-margin-left">


        <h4 class="w3-text-white"> Programacion web 2</h4>
        {{#notLogged}}
        <p  class="w3-text-white"><a href="/login" class="">Loggin</a></p>
            {{/notLogged}}
        <p class="w3-text-white"><a href="https://www.wikidex.net/wiki/WikiDex" target="_blank" >bibliografia</a></p>

    </div>


    <div class="w3-right w3-margin-right">
        <h4 class="w3-text-white ">Grupo 4</h4>
        <p class="w3-text-white parrafo"> Vila Facundo - 38421520</p>
        <p class="w3-text-white parrafo"> Juan Franco Campaña - 41917617</p>
        <p class="w3-text-white parrafo"> Mario Sebastian Rueda Olarte - 38445980</p>


    </div>

</footer>


</body>
</html>