
* {
    margin: 0;
    padding: 0;

}

.poke-logo{
    width: 50px;
    min-width:50px;
}


.titulo{
    font-size: 1.5em;
    padding: 1em;
}

.contenido-principal{
    background-image: url(/public/background_2.jpg);
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    
}

.separador{
    padding-bottom: 264px;
}

.footer-header-color{
    background-color:#191919;
}

.navbar{
    background-color: orangered;

}

.imputestilo{
    padding: 5px;
    margin-left: 5px;
}

.contenedortabla{
    max-width: 800px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

table{
    background-color: white;
    opacity: 80% ;
;
}