{{> header}}
<main class="contenido-principal">
<div class="contenedortabla ">

    <table class="table table-bordered text-center">
        <thead>
        <tr>
            <th scope="col">numero</th>
            <th scope="col">nombre</th>
            <th scope="col">tipo</th>
            <th scope="col">imagen</th>
            <th scope="col">acciones</th>

        </tr>
        </thead>
        <tbody>
        {{#pokemones}}
        <tr>
            <th scope="row">1</th>
            <td>{{numero}}</td>
            <td>{{nombre}}</td>
            <td>{{tipo}}</td>
            <td>{{imagen}}</td>
            <td>{{acciones}}</td>

        </tr>
        {{/pokemones}}
        </tbody>
    </table>
</div>

</main>

{{> footer}}